*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    height:550px;
    width:550px;
    padding:10px;
    justify-self: center;
    box-shadow:5px 5px 5px 5px grey;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-bottom:50px;

}

.game{
    display:flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    margin:10px;
}

input{
    font-size: 15px;
    height:30px;
    margin:5px;
    border-radius: 4px;
}

select{
    font-size: 15px;
    height:30px;
    margin:5px;
    border-radius: 4px;
}

button{
    margin:30px;
    background-color: rgb(67, 167, 67);
    height:40px;
    border: none;
    border-radius: 6px;
    color:white;
}

button:hover{
    cursor:pointer;
    background-color: green;
}